################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/aletk/FileContentIndex/19537cb1-9415-40ba-95a8-bf740703a34c.vsidx
/.vs/aletk/FileContentIndex/a43ca792-eedf-40f7-8787-466147425796.vsidx
/.vs/slnx.sqlite
/.vs/aletk/FileContentIndex/67cddd5b-f893-47b8-8c85-d6c0f88018d0.vsidx
/.vs/aletk/FileContentIndex/ffeb27f4-0123-470a-a0fa-69d32ea13850.vsidx
